<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" ng-repeat="message in ctrl.messages">
        {{ message }}
        <button type="button" class="close" ng-click="ctrl.messages.splice($index, 1)">
          &times;
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Register Form</h5>

        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="text" class="form-control" ng-model="email">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" ng-model="password">
            </div>

            <div class="form-group text-right">
              <a class="btn btn-link" ui-sref="login">Log In</a>
              <a class="btn btn-primary" href="javascript:;" ng-click="ctrl.register(email, password)">Submit</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
