<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-3">
      <h4 class="text-center">Books</h4>

      <a class="mb-2 btn btn-outline-success btn-block" ui-sref=".create.book">&plus; Add</a>

      <ul class="nav flex-column nav-pills nav-fill">
        <li class="nav-item" ng-repeat="book in ctrl.books">
          <a class="nav-link" ui-sref=".view.book({ bookId: book._id })" ui-sref-active="active">
            {{ book.title }}
          </a>
        </li>
      </ul>
    </div>

    <div class="col-9">
      <ui-view>
        <p class="text-center">Select a book from the left</p>
      </ui-view>
    </div>
  </div>
</div>
