<h1>{{ ctrl.title }}</h1>

<form ng-init="data = ctrl.data">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" ng-model="data.title">
  </div>

  <div class="form-group" ng-if="data.author !== undefined">
    <label>Author</label>
    <input type="text" class="form-control" ng-model="data.author">
  </div>

  <div class="form-group" ng-if="data.publicationInfo !== undefined">
    <label>Publication Info</label>
    <input type="text" class="form-control" ng-model="data.publicationInfo">
  </div>

  <div class="form-group">
    <label>Summary</label>
    <textarea class="form-control" rows="3" ng-model="data.summary"></textarea>
  </div>

  <div class="form-group" ng-if="data.genres !== undefined">
    <label>Genres<a class="btn btn-link btn-small" href="javascript:;" ng-click="data.genres.push({value: ''})">&plus;</a></label>

    <div class="input-group mb-4" ng-repeat="genre in data.genres track by $index">
      <input type="text" class="form-control" ng-model="genre.value">

      <div class="input-group-append">
        <button class="btn btn-outline-danger" ng-click="data.genres.splice($index, 1)">Remove</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Themes<a class="btn btn-link" href="javascript:;" ng-click="data.themes.push({value: ''})">&plus;</a></label>

    <div class="input-group mb-4" ng-repeat="theme in data.themes track by $index">
      <input type="text" class="form-control" ng-model="theme.value">

      <div class="input-group-append">
        <button class="btn btn-outline-danger" ng-click="data.themes.splice($index, 1)">Remove</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Symbols<a class="btn btn-link" href="javascript:;" ng-click="data.symbols.push({ name: '', description: '' })">&plus;</a></label>

    <div class="mb-4" ng-repeat="symbol in data.symbols track by $index">
      <div class="input-group mb-2">
        <input type="text" class="form-control" ng-model="symbol.name" placeholder="Symbol name">

        <div class="input-group-append">
          <button class="btn btn-outline-danger" ng-click="data.symbols.splice($index, 1)">Remove</button>
        </div>
      </div>

      <textarea class="form-control" ng-model="symbol.description" placeholder="Symbol description"></textarea>
    </div>
  </div>

  <div class="form-group" ng-if="data.quotes !== undefined">
    <label>Quotes<a class="btn btn-link" href="javascript:;" ng-click="data.quotes.push({ text: '', description: '' })">&plus;</a></label>

    <div class="mb-4" ng-repeat="quote in data.quotes">
      <textarea class="form-control mb-2" ng-model="quote.text" placeholder="Quote text"></textarea>

      <textarea class="form-control mb-2" ng-model="quote.description" placeholder="Quote Description"></textarea>

      <div class="text-right">
        <button class="btn btn-outline-danger">Remove</button>
      </div>
    </div>
  </div>

  <div class="form-group text-right">
    <a class="btn btn-danger" href="javascript:;" ng-click="ctrl.cancel()">Cancel<a>
    <a class="btn btn-success" href="javascript:;" ng-click="ctrl.submit(data)">Submit</a>
  </div>
</form>
