<div class="row" ng-init="book = ctrl.book">
  <div class="col-12 text-right mb-2">
    <a class="btn btn-secondary" ui-sref="books.edit.book({ bookId: book._id })">Edit</a>
    <a class="btn btn-success" ui-sref="books.create.chapter({ bookId: book._id })">New Chapter</a>
    <a class="btn btn-danger" href="javascript:;" ng-click="ctrl.deleteBook(book._id)">Remove</a>
  </div>

  <div class="col-12">
    <div class="jumbotron">
      <h1 class="display-4">{{ book.title }}</h1>

      <div class="row">
        <div class="col-6 mt-2">
          <h3>Written by {{ book.author || 'unknown' }}</h3>
        </div>

        <div class="col-6 mt-2">
          <h3>Published {{ book.publicationInfo || 'n/a' }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <h2>Summary</h2>
    <p ng-if="book.summary.length === 0">
      No summary saved
    </p>
    <p>{{ book.summary }}</p>
  </div>

  <div class="col-12 mt-4">
    <h2>Genres</h2>

    <p ng-if="book.genres.length === 0">
      No genres saved
    </p>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="genre in book.genres">{{ genre }}</li>
    </ul>
  </div>

  <div class="col-12 mt-4">
    <h2>Themes</h2>

    <p ng-if="$ctrl.book.themes.length === 0">
      No themes saved
    </p>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="theme in book.themes">{{ theme }}</li>
    </ul>
  </div>

  <div class="col-12 mt-4">
    <h2>Symbols</h2>

    <p ng-if="book.symbols.length === 0">
      No Symbols saved
    </p>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="symbol in book.symbols">
        <h5 class="mb-1">{{ symbol.name }}</h5>
        <p class="mb-1">
          {{ symbol.description }}
        </p>
      </li>
    </ul>
  </div>

  <div class="col-12 mt-4">
    <h2>Quotes</h2>

    <p ng-if="book.quotes.length === 0">
      No Quotes saved
    </p>

    <div class="card" ng-repeat="quote in book.quotes">
      <div class="card-body">
        <blockquote class="blockquote">
          <p class="mb-0">{{ quote.text }}</p>
        </blockquote>
        <p>{{ quote.description }}</p>
      </div>
    </div>
  </div>

</div>

<hr class="my-4">

<div class="row mb-4" ng-repeat="chapter in ctrl.chapters track by $index">
  <div class="col-12 text-right mb-2">
    <a class="btn btn-secondary" href="javascript:;">Edit</a>
    <a class="btn btn-danger" href="javascript:;">Delete</a>
  </div>

  <div class="col-12">
    <div class="jumbotron">
      <h1 class="display-5">{{ chapter.title }}</h1>
    </div>
  </div>

  <div class="col-12 mt-4">
    <h3>Summary</h3>
    <p ng-if="chapter.summary.length === 0">
      No summary saved
    </p>
    <p>{{ chapter.summary }}</p>
  </div>

  <div class="col-12 mt-4" ng-if="chapter.themes.length > 0">
    <h3>Themes</h3>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="theme in chapter.themes">{{ theme }}</li>
    </ul>
  </div>

  <div class="col-12 mt-4" ng-if="chapter.symbols.length > 0">
    <h3>Symbols</h3>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="symbol in chapter.symbols">
        <h5 class="mb-1">{{ symbol.name }}</h5>
        <p class="mb-1">
          {{ symbol.description }}
        </p>
      </li>
    </ul>
  </div>

  <hr class="mb-4" ng-if="$index !== ctrl.chapters.length - 1">
</div>
